/* Бургере меню */
.burger-shower {
    display: none;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 670px) {

    .burger-shower:checked~.burger-menu {
        display: block;
        margin-top: 77px;
        transition: all 0.3s ease-in-out;
    }

    .hamburger {
        display: block;
        width: 3.4em;
        /*height: 2.4em;*/
        line-height: .1em;
        border: 1px solid transparent;
        padding: .25rem .75rem;
        margin-top: 15px;
        float: right;
        color: rgba(0, 0, 0, .55);
        border-color: rgba(0, 0, 0, .1);
        border-radius: .25rem;
        font-size: 1.25rem;
        line-height: 1;
        transition: all 0.3s ease-in-out;
    }

    .hamburger:focus {
        box-shadow: 0 0 0 0.25rem;
    }

    .hamburger:hover {
        box-shadow: 0 0 0 0.25rem;
        transition: all 0.3s ease-in-out;
    }

    .hamburger svg {
        vertical-align: middle;
    }

    .hamburger hr {
        color: #ced4da;
        height: .1em;
        border: 0;
        background: rgba(0, 0, 0, .55);
    }

    .burger-menu {
        display: none;
    }

    :focus-visible {
        outline: -webkit-focus-ring-color auto 1px;
    }
}
/* //Бургере меню */
