.item3 {
    min-height: calc(100vh - 50px);
    border: 1px dotted #2196F3;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 670px) {
    .item3 {
        min-height: 100%;
        margin: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
}

