* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #454545;
    padding: 0%;
    margin: 0%;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: footer;
}

.grid-container {
    display: -ms-grid;
    display: grid;
        grid-template-areas:
        'header header header header header header'
        'menu  main main main main main'
        'footer footer footer footer footer footer';
    grid-gap: 10px;
    grid-template-rows: 70px 1fr 50px;
    grid-template-columns: 300px 1fr;
}

@media (max-width: 670px) {
    .grid-container {
            grid-template-areas:
            'header header header header header header'
            'menu menu menu menu menu menu'
            'main main main main main main'
            'footer footer footer footer footer footer';
            grid-template-rows: 100px auto 1fr 50px;
    }
}

.item1 h2,
h3 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin: 5px 0 5px 0;
}

.pattern {
    background-color: #D0D4DC;
    -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    color: #fefefe;
    padding: 10px;
    font-size: 16px;
}

@media (max-width: 670px) {
    .pattern {
        -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 0%, 100% 100%, 0% 100%);
                clip-path: polygon(0% 0%, 90% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

.item1 {
    background-color: #2196F3;
    text-align: center;
    padding: 0 10px 0 10px;
    transition: all 0.3s ease-in-out;
}

.item2 {
    background-color: #ffff;
    border: 1px dotted #2196F3;
    min-height: calc(100vh - 50px);
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 670px) {
    .item2 {
        background-color: #ffff;
        border: 1px dotted #2196F3;
        min-height: 90%;
        margin: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.item3 {
    min-height: calc(100vh - 50px);
    border: 1px dotted #2196F3;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 670px) {
    .item3 {
        min-height: 100%;
        margin: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.item4 {
    border-top: 1px dotted #2196F3;
}

@media (max-width: 670px) {
    .item4 {
        margin-top: 10px;
    }
}

.m-tb-10 {
    margin: 10px 0 10px 0;
}

.p-10 {
    padding: 10px;
}

.border-b {
    border-bottom: 1px solid #D0D4DC;
}

a {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}


ul.table {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    width: 100%;
    display: table;
}

@media screen and (max-width: 767.98px) {
    ul.table {
        margin-bottom: 0;
    }
}

.row {
    display: table-row;
    /*background: rgb(220, 217, 253);*/
}

.row.header {
    font-size: 16px;
    font-weight: 600;
    /*color: #ffffff;*/
    /*background: #8faad0;*/
}

.cell {
    padding: 10px 12px;
    display: table-cell;
    border-bottom: 1px solid #8faad0;
}

@media screen and (max-width: 767px) {

    ul.table {
        display: block;
    }

    .row {
        padding: 10px 0 6px;
        display: block;
        border-bottom: 1px solid #8faad0;
    }

    .row.header {
        padding: 0;
        height: 20px;
    }

    .cell {
        padding: 0px 20px;
        display: block;
        border-bottom: unset;
        text-align: center;
    }

    .row.header .cell {
        display: none;
    }

    .row .cell {
        margin-bottom: 10px;
    }

    .row .cell:before {
        margin-bottom: 4px;
        content: attr(data-title);
        font-size: 10px;
        line-height: 1.2em;
        font-weight: bold;
        /*color: rgba(0, 0, 0, 0.4);*/
        display: block;
    }

}

.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 12px 20px 12px 40px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
            box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

input[type=text] {
    background-image: url(https://upp-zp.pp.ua/assets/images/search-img.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 40px;
}

/*
   Menu
*/

.burger-shower {
  display: none;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 670px) {
    
    .burger-shower:checked ~ .burger-menu {
       display: block;
        margin-top: 60px;
    }

    .hamburger {
       display:block;
       width: 3.4em;
       height: 2.4em;
       line-height: .1em;
       border: .1em solid #ddd;
       padding: 0 .4em .4em;
       margin-top: 10px;
       float: right;
    }

    .hamburger hr {
       color: #ddd;
       height: .1em;
       border: 0;
       background: #ddd;
    }

    .burger-menu {
        display:none;
    }
}
       
